@import "~bootstrap/less/bootstrap";
@import "~font-awesome/less/font-awesome";
@import "~bootstrap-slider/less/bootstrap-slider";
@import "variables";
@import "fonts";
//@import "~fullpage/jquery.fullPage.css";

body {
  background: lightslategray;
}

.avatar {
  float: right;
  width: 100px;
  height: 100px;
  background: url(../images/blank-avatar.png);
  background-size: contain;
  border-radius: 50%;
}


.comments {

  float: left;

  &.outermost {
    width: 200000px;
  }
}

.comment-container {
}

.comment {
  float: left;
  width: 200px;

  p {
    width: 200px;
  }

}

.color1 {
  background: hsl(0, 50%, 50%);
}